/* [class*="col"] {
    border: 1px dashed red; */

    /* background-color: lightgray; 
}*/

body{
    font-family: 'Roboto', sans-serif;
}



.width-10{
    width: 10%;
}

.width-100{
    width: 100%;
}

.width-50{
    width: 50%;
}

.ff-border-radius{
    border-radius: 15px;
}



.jumbotron{
    background-image: url("img/jumbo-bg.png");
    width: 100%; 
    background-size: cover; 
    background-position: center; 
     height: 600px;
    color: white; 
    font-size: 1.3rem;
}


#giochi .bg-image{
    color: white;
    /* height: 600px; */
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center; 
}